<!-- inherit from base.html-->
{% extends "buffs_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
    <h1>Welcome to Shift Swap</h1>
    <h3>Shift Swap is a localized and easy way to exchange shifts among servers working at Buffalo Wild Wings</h3>
    <h4><strong>All available shifts are listed below</strong></h4>
    <h4><strong>For specific dates and times please use the search option above</strong></h4>
    {% if user.is_authenticated %}
    <a class="btn btn-warning text-black" href="{% url 'create-shift' %}">New Shift</a>
    {% endif %}
    <h2>Available Shifts</h2>

    <ul class="list-group" style="background-color:Black; color:White">
        {% for i in available_shifts %}
            <li class="list-group-item" style="background-color:Black; color:White"><strong>Date: </strong>{{i.date}} 
                <p><strong>Server: </strong> {{ i.username }} </p>
                <p><strong>Position: </strong> {{ i.position }} </p>
                <p><strong>Time: </strong> {{ i.time }} <a class="btn btn-warning text-black" href="{{ i.get_absolute_url }}">View</a>
                {% if usersname == i.username %}
                <a class="btn btn-warning text-black" href="{% url 'update-shift' i.id %}">Update</a>
                <a class="btn btn-warning text-black" href="{% url 'delete-shift' i.id %}">Delete</a>
                {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>    
{% endblock %}