{% extends "buffs_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
    {% if not my_shifts %}
    <h1 align="center">You do not have any shifts posted</h1>
    {% else %}
    <h1 align="center">Your Shifts:</h1>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="text-center">
    <a class="btn btn-warning text-black" href="{% url 'create-shift' %}" align="center">New Shift</a>
    </div>
    {% endif %}
    <p></p>
    <div class="container">
    <div class="row gx-2">
        {% for i in my_shifts %}
        <div class="col-3" style="border: 2px solid #000;">
            <div class="card-sm" style="background-color:White; color:Black;">
                <p><strong>Date: </strong>{{i.date}} </p>
                <p><strong>Server: </strong> {{ i.username }} </p>
                <p><strong>Position: </strong> {{ i.position }} </p>
                <p><strong>Time: </strong> {{ i.time }} </p>
                <p>
                <a class="btn btn-warning text-black" href="{{ i.get_absolute_url }}">View</a>
                <a class="btn btn-warning text-black" href="{% url 'update-shift' i.id %}">Update</a>
                <a class="btn btn-warning text-black" href="{% url 'delete-shift' i.id %}">Delete</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>   
</div>
{% endblock %}