{% extends 'buffs_app/base_template.html' %}

{% block content %}
{% if usersname == i.username %}
<div class="container" style="border: 2px solid #000;">
<p align="center">Date Format: YYYY-MM-DD</p>
<p align="center">Time Format: HH:MM:SS  (Military Time)</p>
<form action="" method="Post" align="center">
    {% csrf_token %}
    <table align="center">
        {{ form.as_table }}
    </table>
    <input type="submit" name="Submit" style="background-color:Black; color:White">
</form>
<p></p>
</div>
{% endif %}
{% endblock %}